@dmax-lightblue: #0072C6;
@dmax-darkblue: #00243D;
@dmax-red: #B93006;
@dmax-red-dark: #89171F;

@htag-textcolour: #FFFFFF;
@dmax-onbackground-text: #FFFFFF;

@hyperlink-hover-opacity: 0.6;
@hyperlink-hover-duration: .2s;

@header-zindex-base: 1000;

@header-coloured-box-opacity: 0.75;
@header-logo-opacity: 0.85;

@header-nav-link-colour: #D6EEFF;
@header-nav-link-hover-colour: #5CBBFF;
@header-nav-link-hover-opacity: 1.0;

@header-nav-link-small-background: #003052;
@header-nav-link-small-hover-background: #00477A;

@main-image-background-identifier-colour: #FFFFFF;

@right-container-background-colour: fade(@dmax-lightblue, 85%);
@right-container-background-colour-opaque: @dmax-lightblue;
@right-container-background-colour-small: @dmax-lightblue;

@publications-grid-container-text: fade(#FFFFFF, 90%);
@publications-grid-type-background: fade(#000000, 60%);
@publications-grid-text: fade(#FFFFFF, 80%);