@import 'global';

header {
    width: 100%;
    min-height: 215px;
}

/* The coloured box, off from the top, for large-screen devices. */
header div.coloured-box {
    position: absolute;
    top: 40px;
    z-index: @header-zindex-base;
    left: 0;
    width: 100%;
    height: 150px;
    background: @dmax-lightblue;
}

    header div.coloured-box.transparent {
        opacity: @header-coloured-box-opacity;
    }

header div#header-logo-container {
    /* These styles need to be in the image, not the container! */
    position: relative;
    top: 117px;
    z-index: (@header-zindex-base + 1);
}

header div#header-logo-container a img {
    width: 100%;
    max-width: 389px;
    min-width: 280px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

header div#header-logo-container a:hover {
    opacity: @header-logo-opacity;
}

header div#header-links {
    position: relative;
    z-index: (@header-zindex-base + 1);
}

header div#header-links ul {
    position: relative;
    list-style-type: none;
    text-align: right;
}

header ul#header-links-ribbons {
    top: 40px;
}

header ul#header-links-ribbons li {
    display: inline-block;
    width: 41px;
    height: 53px;
    margin-left: 5px;
    text-align: center;
    line-height: 0;
    font-size: 0;
    color: transparent;
}

header ul#header-links-ribbons li a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../img/sprites/header-links-ribbon.svg');
    background-size: 100% 100%;
}

header ul#header-links-ribbons li a span {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 33px;
    height: 33px;
}

header ul#header-links-nav {
    top: 91px;
}

header ul#header-links-nav li {
    display: inline;
    margin-left: 10px;
    font-size: 18pt;
    font-family: 'Raleway', sans-serif;
}

header ul#header-links-nav li a {
    color: @header-nav-link-colour;
    text-decoration: none;
    font-weight: normal;
}

header ul#header-links-nav li a:hover {
    color: @header-nav-link-hover-colour;
    opacity: @header-nav-link-hover-opacity;
}

@media screen and (max-width: 1050px) {
    header div#header-content-container {
        display: flex;
    }
    
    header div#header-links {
        bottom: 10px;
    }
}

@media screen and (max-width: 940px) {
    header {
        min-height: 167px;
    }
    
    header div.coloured-box {
        top: 20px;
        height: 127px;
        opacity: none;
    }
    
    header div#header-logo-container {
        top: 84px;
    }
    
    header div#header-logo-container a img {
        max-width: 100px;
    }
    
    header div#header-links {
        bottom: 0;
    }
    
    header ul#header-links-ribbons {
        top: 10px;
    }
    
    header ul#header-links-nav {
        top: 38px;
    }
    
        header ul#header-links-nav li {
            font-size: 14pt;
        }
}

@media screen and (max-width: 780px) {
    header ul#header-links-ribbons {
        display: none;
    }
    
    header ul#header-links-nav {
        top: 29px;
        font-size: 0;
        float: right;
        width: 75%;
    }
    
    header ul#header-links-nav li {
        display: inline;
        margin: 0;

    }
    
    header ul#header-links-nav li a {
        padding: 5px;
        background: @header-nav-link-small-background;
        font-size: 16pt;
        line-height: 45px;
        margin-left: 10px;
    }
    
    header ul#header-links-nav li a:hover {
        background: @header-nav-link-small-hover-background;
    }
}

@media screen and (max-width: 568px) {
    header {
        background: @dmax-lightblue;
        padding-bottom: 50px;
    }
    
    header div#header-content-container {
        display: block;
    }
    
    header div.coloured-box {
        display: none;
    }
    
    header div#header-logo-container {
        top: 92px;
        text-align: center;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    
    header div#header-logo-container a img {
        width: 200px;
        height: auto;
    }
    
    header div#header-links ul {
        top: 40px;
        text-align: center;
    }
    
    header ul#header-links-nav {
        width: 100%;
        float: none;
    }
}