@import 'global';

@phd-life-green: #558B2F;
@phd-life-green-dark: darken(@phd-life-green, 20%);

@phd-life-textonback: #FFFFFF;

@phd-life-green-faded: fadeout(@phd-life-green, 10%);


header div.coloured-box {
    background-color: @phd-life-green;
}

h1, h2 {
    background-color: @phd-life-green !important;
}

article h2 {
    box-shadow: 5px 0 0 @phd-life-green, -5px 0 0 @phd-life-green;
}

#subtitle {
    background-color: @phd-life-green;
}

span.highlight {
    background-color: @phd-life-green;
    color: @phd-life-textonback;
    box-shadow: 5px 0 0 @phd-life-green, -5px 0 0 @phd-life-green;
}

/* Special landing grid container (positioned at the bottom of the screen) */
div#landing-grid-container ul li {
    position: relative;
    font-family: 'Raleway', sans-serif;
    background-color: @phd-life-green;
    padding: 0;
    min-height: 190px;
}

div#landing-grid-container ul li span.header {
    display: inline-block;
    margin: 10px 0 10px 10px;
    padding: 5px;
    font-size: 30pt;
    font-weight: bold;
    background-color: @phd-life-green-dark;
}

div#landing-grid-container ul li span.blurb {
    display: block;
    margin: 0 10px 0 10px;
    font-size: 12pt;
    font-weight: normal;
    line-height: 22px;
}

div#landing-grid-container ul li span.tags {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 10pt;
    font-weight: normal;
}

    div#landing-grid-container ul li span.tags span {
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 5px;
    }

/* Changing quote styling for the different colour scheme */
blockquote {
    background-color: fade(@phd-life-green, 40%);
}

blockquote:before {
    color: fade(@phd-life-green-dark, 80%);
}

blockquote:after {
    color: fade(@phd-life-green-dark, 80%);
}

div.pwrapper.partial span.sidenote {
    background-color: @phd-life-green-dark;
}

/* Section header blocks */
div.section-header {
    position: relative;
    height: 280px;
    text-align: center;
    background-color: @phd-life-green-dark;
}

div.section-header h2 {
    position: absolute;
    left: 20px;
    bottom: 20px;;
    font-size: 36pt;
    line-height: 36pt;
}

@media screen and (max-width: 950px) {
    div.section-header {
        height: 240px;
    }
}

@media screen and (max-width: 760px) {
    div.section-header {
        height: auto;
    }
    
    div.section-header h2 {
        display: block;
        position: static;
        background-color: @phd-life-green-dark;
        padding: 10px;
        box-shadow: none;
    }
}

/* Writing up contents grid */
ul#writeup-contents-container {
    margin-bottom: 25px;
    grid-template-columns: repeat(4, 1fr);
}

    ul#writeup-contents-container li {
        min-height: 90px;
        font-size: 22pt;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        background-color: @phd-life-green;
        color: @phd-life-textonback;
    }

@media (max-width: 1130px) {
    ul#writeup-contents-container {
        text-align: center;
    }
    
    ul#writeup-contents-container li {
        display: inline-block;
        margin-right: 5px;
        font-size: 14pt;
        line-height: 18pt;
        min-height: 0;
        height: auto;
        padding: 3px;
    }
    
    ul#writeup-contents-container li:last-child {
        margin-right: 0;
    }
}

/* Hero styling (largely chaning colours) */
@media screen and (min-width: 1080px) and (min-height: 710px) {
    h1 {
        position: relative;
        z-index: @header-zindex-base;
        background-color: @phd-life-green-faded;
    }
    
    #subtitle {
        background-color: @phd-life-green-faded;
    }
    
    p#intro-p {
        display: none;
    }
    
    div#landing-grid-container {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 25%;
        width: calc(100% - 50px);
        margin: 0 25px 15px 25px;
    }
    
    div#landing-grid-container ul {
        height: 100%;
    }
    
    div#landing-grid-container ul li {
        min-height: 0;
        height: 100%;
        padding: 0;
    }
}

/* Changing the header bar colour for small-screen devices */
@media screen and (max-width: 568px) {
    header {
        background-color: @phd-life-green;
    }
}