@import 'global';

@phd-life-green: #558B2F;
@phd-life-green-dark: darken(@phd-life-green, 20%);

@phd-life-textonback: #FFFFFF;

@phd-life-green-faded: fadeout(@phd-life-green, 10%);


header div.coloured-box {
    background-color: @phd-life-green;
}

h1, h2 {
    background-color: @phd-life-green !important;
}

article h2 {
    box-shadow: 5px 0 0 @phd-life-green, -5px 0 0 @phd-life-green;
}

#subtitle {
    background-color: @phd-life-green;
}

span.highlight {
    background-color: @phd-life-green;
    color: @phd-life-textonback;
    box-shadow: 5px 0 0 @phd-life-green, -5px 0 0 @phd-life-green;
}

span.highlight a {
    color: @phd-life-textonback;
}

img#phd-thesis-cover {
    height: 450px;
    width: auto;
}

img#roadsign {
    width: 30%;
}

img#duration, img#feelings {
    margin-top: 15px;
    width: 80%;
}

@media screen and (max-width: 900px) {
    img#phd-thesis-cover {
        display: none;
    }
}

@media screen and (max-width: 1140px) {
    img#duration, img#feelings {
        width: 100%;
    }
}

p.acknowledgements {
    font-size: 8pt;
    border-top: 1px solid #000000;
    font-style: italic;
}

/* Special landing grid container (positioned at the bottom of the screen) */
div#landing-grid-container ul li {
    position: relative;
    font-family: 'Raleway', sans-serif;
    background-color: @phd-life-green;
    padding: 0;
    min-height: 190px;
}

div#landing-grid-container ul li span.header {
    display: inline-block;
    margin: 10px 0 10px 10px;
    padding: 5px;
    font-size: 30pt;
    font-weight: bold;
    background-color: @phd-life-green-dark;
}

div#landing-grid-container ul li span.blurb {
    display: block;
    margin: 0 10px 0 10px;
    font-size: 12pt;
    font-weight: normal;
    line-height: 22px;
}

div#landing-grid-container ul li span.tags {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 10pt;
    font-weight: normal;
}

    div#landing-grid-container ul li span.tags span {
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 5px;
    }

/* Changing quote styling for the different colour scheme */
blockquote {
    background-color: fade(@phd-life-green, 40%);
}

blockquote:before {
    color: fade(@phd-life-green-dark, 80%);
}

blockquote:after {
    color: fade(@phd-life-green-dark, 80%);
}

div.pwrapper.partial span.sidenote {
    background-color: @phd-life-green-dark;
}

/* Section header blocks */
div.section-header {
    position: relative;
    height: 280px;
    margin-top: 30px;
    text-align: center;
    background-color: @phd-life-green-dark;
}

div.section-header h2 {
    position: relative;
    top: 104px;
    font-size: 36pt;
    line-height: 36pt;
}

@media screen and (max-width: 950px) {
    div.section-header {
        height: 240px;
    }
}

@media screen and (max-width: 760px) {
    div.section-header {
        height: auto;
    }
    
    div.section-header h2 {
        display: block;
        position: static;
        background-color: @phd-life-green-dark;
        padding: 10px;
        font-size: 24pt;
        box-shadow: none;
    }
}

/* Writing up contents grid */
ul#writeup-contents-container {
    margin-bottom: 25px;
    grid-template-columns: repeat(4, 1fr);
}

    ul#writeup-contents-container li {
        min-height: 90px;
        font-size: 22pt;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        background-color: @phd-life-green;
        color: @phd-life-textonback;
    }

@media (max-width: 1130px) {
    ul#writeup-contents-container {
        text-align: center;
    }
    
    ul#writeup-contents-container li {
        display: inline-block;
        margin-right: 5px;
        font-size: 14pt;
        line-height: 18pt;
        min-height: 0;
        height: auto;
        padding: 3px;
    }
    
    ul#writeup-contents-container li:last-child {
        margin-right: 0;
    }
}

/* Writing up methodology grid */
div#writeup-methodology-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    font-family: 'Raleway', sans-serif;
    color: @phd-life-textonback;
}

div#writeup-methodology-grid-container span, div#writeup-methodology-grid-container div {
    display: block;
    background: @phd-life-green-dark;
    padding: 10px;
}

div#writeup-methodology-grid-container div {
    grid-column: 2 / span 3;
    height: auto;
    padding: 0;
}

div#writeup-methodology-grid-container div span {
    display: block;
}

div#writeup-methodology-grid-container div img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
}

span#writeup-methodology-samplesize {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    font-size: 48pt;
    font-weight: bold;
    background-repeat: no-repeat !important;
    background-position: 120% 110% !important;
    background-size: 70% !important;
}

span#writeup-methodology-beer {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    font-size: 24pt;
    font-weight: bold;
    background-repeat: no-repeat !important;
    background-position: 120% 100% !important;
    background-size: 70% !important;
}

div#writeup-methodology-q1 {
    grid-row: 1 / span 1;
}

div#writeup-methodology-q2 {
    grid-row: 2 / span 1;
}

div#writeup-methodology-q3 {
    grid-row: 3 / span 1;
}

div#writeup-methodology-q4 {
    grid-row: 4 / span 1;
}

@media screen and (max-width: 1140px) {
    div#writeup-methodology-grid-container {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    div#writeup-methodology-grid-container {
        display: block;
        height: auto;
    }
    
    span#writeup-methodology-samplesize {
        display: none !important;
    }
    
    span#writeup-methodology-beer {
        display: none !important;
    }
    
    div#writeup-methodology-grid-container * {
        margin-bottom: 15px;
    }
    
    div#writeup-methodology-grid-container *:last-child {
        margin-bottom: 0;
    }
}

/* Writing up time planning grid */
ul#writeup-planning-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
}

ul#writeup-planning-grid-container li {
    min-height: 200px;
    background: @phd-life-green-dark;
    color: @phd-life-textonback;
}
    
    ul#writeup-planning-grid-container li span {
        display: block;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
    }
    
    ul#writeup-planning-grid-container li span.header {
        font-family: 'Raleway', sans-serif;
        font-size: 26pt;
        font-weight: bold;
    }
    
    ul#writeup-planning-grid-container li span.header span.number {
        display: inline-block;
        padding: 5px 8px 5px 8px;
        margin-right: 10px;
        background-color: @phd-life-textonback;
        color: @phd-life-green-dark;
    }
    
    ul#writeup-planning-grid-container li span.blurb {
        padding-top: 0;
        font-size: 14pt;
        line-height: 20pt;
    }

@media screen and (max-width: 1140px) {
    ul#writeup-planning-grid-container {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    ul#writeup-planning-grid-container {
        display: block;
    }
    
    ul#writeup-planning-grid-container li {
        margin-bottom: 15px;
        min-height: 0;
    }
    
    ul#writeup-planning-grid-container li:last-child {
        margin-bottom: 0;
    }
}

/* Flow grid */
ul#writeup-flow-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

ul#writeup-flow-grid-container li {
    min-height: 200px;
    background: @phd-life-green-dark;
    color: @phd-life-textonback;
}
    
    ul#writeup-flow-grid-container li.red {
        background: @dmax-red;
    }
    
    ul#writeup-flow-grid-container li span {
        display: block;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
    }
    
    ul#writeup-flow-grid-container li span.header {
        font-family: 'Raleway', sans-serif;
        font-size: 26pt;
        font-weight: bold;
    }
    
    ul#writeup-flow-grid-container li span.blurb {
        padding-top: 0;
        font-size: 14pt;
        line-height: 20pt;
    }

@media screen and (max-width: 1140px) {
    ul#writeup-flow-grid-container {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    ul#writeup-flow-grid-container {
        display: block;
    }
    
    ul#writeup-flow-grid-container li {
        margin-bottom: 15px;
        min-height: 0;
    }
    
    ul#writeup-flow-grid-container li:last-child {
        margin-bottom: 0;
    }
}

/* Stress grid */
ul#writeup-stress-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
}

ul#writeup-stress-grid-container li {
    min-height: 280px;
    background-color: @phd-life-green-dark;
    color: @phd-life-textonback;
}

    ul#writeup-stress-grid-container li span.header {
        display: inline-block;
        font-size: 24pt;
        font-weight: bold;
        padding: 5px;
        margin: 10px;
        background-color: @phd-life-green;
        color: @phd-life-textonback;
    }

@media screen and (max-width: 1140px) {
    ul#writeup-stress-grid-container {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    ul#writeup-stress-grid-container {
        display: block;
    }
    
    ul#writeup-stress-grid-container li {
        margin-bottom: 15px;
        min-height: 250px;
    }
    
    ul#writeup-stress-grid-container li:last-child {
        margin-bottom: 0;
    }
}

/* What you should have grid */
ul#writeup-completed-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

ul#writeup-completed-grid-container li {
    min-height: 220px;
    background-color: @phd-life-green-dark;
    color: @phd-life-textonback;
}

ul#writeup-completed-grid-container li span.header {
    display: block;
    font-size: 24pt;
    font-weight: bold;
    padding: 10px 10px 7px 10px;
    font-family: 'Raleway', sans-serif;
}

ul#writeup-completed-grid-container li span.blurb {
    display: block;
    font-size: 14pt;
    padding: 0 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 19pt;
}

ul#writeup-completed-grid-container li.scope {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

ul#writeup-completed-grid-container li.rqs {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

ul#writeup-completed-grid-container li.words {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    background-color: @phd-life-green !important;
}

ul#writeup-completed-grid-container li.plan {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

ul#writeup-completed-grid-container li.exps {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

@media screen and (max-width: 1140px) {
    ul#writeup-completed-grid-container {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    ul#writeup-completed-grid-container {
        display: block;
    }
    
    ul#writeup-completed-grid-container li {
        margin-bottom: 15px;
        min-height: 250px;
    }
    
    ul#writeup-completed-grid-container li:last-child {
        margin-bottom: 0;
    }
}


/* Hero styling (largely chaning colours) */
@media screen and (min-width: 1080px) and (min-height: 710px) {
    h1 {
        position: relative;
        z-index: @header-zindex-base;
        background-color: @phd-life-green-faded;
    }
    
    #subtitle {
        background-color: @phd-life-green-faded;
    }
    
    p#intro-p {
        display: none;
    }
    
    div#landing-grid-container {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 25%;
        margin: 0 25px 15px 25px;
    }
    
    div#landing-grid-container ul {
        height: 100%;
    }
    
    div#landing-grid-container ul li {
        min-height: 0;
        height: 100%;
        padding: 0;
    }
}

/* Changing the header bar colour for small-screen devices */
@media screen and (max-width: 568px) {
    header {
        background-color: @phd-life-green;
    }
}