.sprite-header-links-ribbons-github {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#github');
    background-size: 100% 100%;
}

.sprite-header-links-ribbons-linkedin {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#linkedin');
    background-size: 100% 100%;
}

.sprite-header-links-ribbons-twitter {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#twitter');
    background-size: 100% 100%;
}

.sprite-header-links-ribbons-instagram {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#instagram');
    background-size: 100% 100%;
}

.sprite-icon-skype {
    background-image: url('../img/sprites/icons.svg#skype');
    background-size: 100% 100%;
}

.sprite-icon-twitter {
    background-image: url('../img/sprites/icons.svg#twitter');
    background-size: 100% 100%;
}

.sprite-icon-email {
    background-image: url('../img/sprites/icons.svg#email');
    background-size: 100% 100%;
}

.sprite-icon-phone {
    background-image: url('../img/sprites/icons.svg#phone');
    background-size: 100% 100%;
}

.sprite-icon-book {
    background-image: url('../img/sprites/icons.svg#book');
    background-size: 100% 100%;
}

.sprite-icon-pen {
    background-image: url('../img/sprites/icons.svg#pen');
    background-size: 100% 100%;
}

.sprite-icon-calendar {
    background-image: url('../img/sprites/icons.svg#calendar');
    background-size: 100% 100%;
}

.sprite-icon-fingerprint {
    background-image: url('../img/sprites/icons.svg#fingerprint');
    background-size: 100% 100%;
}

.sprite-icon-pdf {
    background-image: url('../img/sprites/icons.svg#pdf');
    background-size: 100% 100%;
}

.sprite-icon-cite {
    background-image: url('../img/sprites/icons.svg#cite');
    background-size: 100% 100%;
}

.sprite-icon-slides {
    background-image: url('../img/sprites/icons.svg#slides');
    background-size: 100% 100%;
}

.sprite-icon-link {
    background-image: url('../img/sprites/icons.svg#link');
    background-size: 100% 100%;
}

.sprite-icon-baby {
    background-image: url('../img/sprites/icons.svg#baby');
    background-size: 100% 100%;
}

.sprite-icon-home {
    background-image: url('../img/sprites/icons.svg#home');
    background-size: 100% 100%;
}

.sprite-icon-passport {
    background-image: url('../img/sprites/icons.svg#passport');
    background-size: 100% 100%;
}

.sprite-icon-language {
    background-image: url('../img/sprites/icons.svg#language');
    background-size: 100% 100%;
}

.sprite-icon-cv {
    background-image: url('../img/sprites/icons.svg#cv');
    background-size: 100% 100%;
}