.sprite-header-links-ribbons-github {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#github');
    background-size: 100% 100%;
}

.sprite-header-links-ribbons-linkedin {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#linkedin');
    background-size: 100% 100%;
}

.sprite-header-links-ribbons-twitter {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#twitter');
    background-size: 100% 100%;
}

.sprite-header-links-ribbons-instagram {
    background-image: url('../img/sprites/header-links-ribbon-logos.svg#instagram');
    background-size: 100% 100%;
}

.sprite-icon-skype {
    background-image: url('../img/sprites/icons.svg#skype');
    background-size: 100% 100%;
}

.sprite-icon-twitter {
    background-image: url('../img/sprites/icons.svg#twitter');
    background-size: 100% 100%;
}

.sprite-icon-email {
    background-image: url('../img/sprites/icons.svg#email');
    background-size: 100% 100%;
}

.sprite-icon-phone {
    background-image: url('../img/sprites/icons.svg#phone');
    background-size: 100% 100%;
}