{% extends 'dmax_org_uk/base.html' %}

{% load static %}
{% load compress %}
{% load dmax_org_uk_templatetags %}

{% block includetags %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/phd.less' %}">
        {% endcompress %}
        
        {% compress css %}
        {% endcompress %}
{% endblock %}

{% block main %}
            <div class="flex-container variable-height">
                
                <div class="flex-item whole">
                    <div class="headertag-container">
                        <h1>Corona</h1>
                        <div id="subtitle">The most intense thing you'll ever do?</div>
                        <div id="main-image-background-identifier" class="left">{{ background_identifier }}</div>
                    </div>
                    
                    <article>
                    
                        Corona
                    </article>
                </div>
            </div>
{% endblock %}