<!DOCTYPE html>

{% load staticfiles %}
{% load compress %}

<!--
dmax.org.uk 2019 Redesign

Author: David Maxwell
Date: 2019-04-30
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}" />
        <link rel="stylesheet" type="text/less" href="{% static 'css/sprites.less' %}" />
        <link rel="stylesheet" type="text/less" href="{% static 'css/core.less' %}" />
        <link rel="stylesheet" type="text/less" href="{% static 'css/header.less' %}" />
        <link rel="stylesheet" type="text/less" href="{% static 'css/background-image.less' %}" />
        <link rel="stylesheet" type="text/less" href="{% static 'css/main.less' %}" />
        {% endcompress %}
        
        {% compress js %}
        <script src="{% static 'js/analytics.js' %}"></script>
        {% endcompress %}
        
        <meta property="og:image" content="http://www.dmax.org.uk{% static 'img/dmax-thumb.png' %}" />
        <meta property="og:title" content="http://www.dmax.org.uk" />
        <meta property="og:title" content="David Maxwell" />
        <meta property="og:description" content="I've just finished my PhD in Computing Science at the University of Glasgow, Scotland. Check out dmax.org.uk - it's my own personal, hand-built website!" />
        
        {% block includetags %}{% endblock %}
        
        <title>dmax.org.uk</title>
    </head>
    
    <body>
        
        <header>
            <div class="coloured-box {% if background %}transparent{% endif %}"></div>
            
            <div id="header-content-container" class="flex-container variable-height">
                
                <div id="header-logo-container" class="flex-item two-fifths">
                    <a href="{% url 'dmax_org_uk:landing' %}">
                        <img src="{% static 'img/dmax-banner.svg' %}" alt="David Maxwell" />
                    </a>
                </div>
                
                <div id="header-links" class="flex-item three-fifths">
                    <ul id="header-links-ribbons">
                        <li><a href="https://www.github.com/maxwelld90" target="_blank"><span class="sprite-header-links-ribbons-github"></span>GitHub</a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/maxwelld90" target="_blank"><span class="sprite-header-links-ribbons-linkedin"></span>LinkedIn</a>
                        </li>
                        <li><a href="https://www.twitter.com/maxwelld90" target="_blank"><span class="sprite-header-links-ribbons-twitter"></span>Twitter</a>
                        </li>
                        <li><a href="https://www.instagram.com/maxwelld90" target="_blank"><span class="sprite-header-links-ribbons-instagram"></span>Instagram</a>
                        </li>
                    </ul>
                    <ul id="header-links-nav">
                        <li><a href="{% url 'dmax_org_uk:me' %}">Me</a></li>
                        <li><a href="{% url 'dmax_org_uk:projects' %}">Projects</a></li>
                        <li><a href="{% url 'dmax_org_uk:publications' %}">Publications</a></li>
                        <li><a href="{% url 'dmax_org_uk:thesis' %}">Thesis</a></li>
                    </ul>
                </div>
                
            </div>
            
        </header>
        
        <main{% if background %} class="image"{% endif %}>
            {% if background %}<div id="main-image-background" class="{{ background }}"></div>{% endif %}
            
            {% block main %}{% endblock %}
        
        </main>
    </body>
    
</html>