{% extends 'dmax_org_uk/base.html' %}

{% block main %}
        <main class="image">
            <div id="main-image-background" class="shinjuku"></div>
            
            <div class="flex-container variable-height">
                
                <div class="flex-item three-fifths">
                    <div class="headertag-container">
                        <h1>Main Title</h1>
                        <div id="subtitle">Page Subtitle</div>
                        <div id="main-image-background-identifier" class="left">Shinjuku, Tokyo, Japan, August 2017</div>
                    </div>
                    
                    <article>
							<p>I've just finished my PhD at the <a href="http://www.gla.ac.uk">University of Glasgow</a>, working in the School of Computing Science. My PhD thesis focused on Information Retrieval. More specifically, I looked at how people interact with search engines, focusing on their stopping behaviours (how many results should I examine before I stop?).</p>
                            <p>I've just finished my PhD at the <a href="http://www.gla.ac.uk">University of Glasgow</a>, working in the School of Computing Science. My PhD thesis focused on Information Retrieval. More specifically, I looked at how people interact with search engines, focusing on their stopping behaviours (how many results should I examine before I stop?).</p>
                            <p>I've just finished my PhD at the <a href="http://www.gla.ac.uk">University of Glasgow</a>, working in the School of Computing Science. My PhD thesis focused on Information Retrieval. More specifically, I looked at how people interact with search engines, focusing on their stopping behaviours (how many results should I examine before I stop?).</p>
                    </article>
                    
                </div>

                <div class="flex-item two-fifths">2</div>

            </div>
            
        </main>
{% endblock %}