{% extends 'dmax_org_uk/base.html' %}

{% block main %}
            <div class="flex-container variable-height">
                
                <div class="flex-item whole">
                    <div class="headertag-container">
                        <h1>Publications</h1>
                        <div id="subtitle">Have a look at the papers and other publications I've worked on.</div>
                    </div>
                    
                    <article>
							<p>I've just finished my PhD at the <a href="http://www.gla.ac.uk">University of Glasgow</a>, working in the School of Computing Science. My PhD thesis focused on Information Retrieval. More specifically, I looked at how people interact with search engines, focusing on their stopping behaviours (how many results should I examine before I stop?).</p>
                            <p>I've just finished my PhD at the <a href="http://www.gla.ac.uk">University of Glasgow</a>, working in the School of Computing Science. My PhD thesis focused on Information Retrieval. More specifically, I looked at how people interact with search engines, focusing on their stopping behaviours (how many results should I examine before I stop?).</p>
                            <p>I've just finished my PhD at the <a href="http://www.gla.ac.uk">University of Glasgow</a>, working in the School of Computing Science. My PhD thesis focused on Information Retrieval. More specifically, I looked at how people interact with search engines, focusing on their stopping behaviours (how many results should I examine before I stop?).</p>
                    </article>
                    
                </div>
            </div>
{% endblock %}