{% extends 'dmax_org_uk/base.html' %}

{% load static %}
{% load compress %}
{% load dmax_org_uk_templatetags %}

{% block includetags %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/publications.less' %}">
        {% endcompress %}
        {% if publication.background %}
        <style type="text/css">
            #main-image-background.custom-background {
                background: url('{{ publication.background.url }}');
                background-size: cover;
                background-position: center center;
            }
        </style>
        {% endif %}
{% endblock %}

{% block main %}
            <div class="flex-container variable-height">
                
                <div class="flex-item three-fifths">
                    <div class="headertag-container">
                        <h1>Publications</h1>
                        <div id="subtitle">View details on a specific publication.</div>
                        <div id="main-image-background-identifier" class="left"></div>
                    </div>
                    
                    <article>
                        <h2><span>{{ publication.title }}</span></h2>
                        {% autoescape off %}
                        {{ publication.abstract }}
                        {% endautoescape %}
                    </article>
                    
                </div>

                <div class="flex-item two-fifths right">
                    <div id="backbutton"><a class="whole" href="{% url 'dmax_org_uk:publications' %}">Back to Publications</a></div>
                    <div class="container">
                        <h2>Metadata</h2>
                        <div>
                            <ul>
                                <li class="noback publication-year-{{ publication.publication_year }}"><span class="text-year">{{ publication.publication_year }}<span class="publication-type">{{ publication.get_verbose_type }}</span></span></li>
                                <li class="noback with-image"><span class="image sprite-icon-book"></span><span class="text-multi"><span><strong>Publication</strong></span><span>{% autoescape off %}{{ publication.published_in }}{% endautoescape %}</span></span></li>
                                <li class="noback with-image"><span class="image sprite-icon-pen"></span><span class="text-multi"><span><strong>Authors</strong></span><span>
                                    <ul>
                                        {% for author in publication.get_authors_list %}
                                        {% autoescape off %}
                                        <li>{{ author|bold:'David Maxwell' }}</li>
                                        {% endautoescape %}
                                        {% endfor %}
                                    </ul>
                                </span></li>
                                <li class="noback with-image">
                                    <span class="image sprite-icon-calendar"></span>
                                    <span class="text-multi">
                                        <span><strong>Publication Date</strong></span>
                                        <span>
                                        {% if publication.has_been_published %}
                                        {{ publication.published_date|date:"F j,  Y" }}
                                        {% else %}
                                        Not yet published
                                        {% endif %}
                                        </span>
                                    </span>
                                </li>
                                {% if publication.doi %}
                                <li class="noback with-image"><span class="image sprite-icon-fingerprint"></span><span class="text-multi"><span><strong>DOI</strong></span><span><a href="https://doi.org/{{ publication.doi }}" target="_blank"><code>{{ publication.doi }}</code></a></span></span></li>
                                {% endif %}
                            </ul>
                            
                        </div>
                    </div>
                    
                    {% if publication.has_resources %}
                    <div class="container opaque">
                        <h2>Resources</h2>
                        <div>
                            <ul>
                                {% if publication.get_pdf_resource %}
                                <li class="red with-image">
                                    <a target="_blank" href="{{ publication.get_pdf_resource.pdf.url }}" class="whole">
                                        <span class="image sprite-icon-pdf"></span>
                                        <span class="text-multi">
                                            <span><strong>Download PDF</strong></span>
                                            <span>Click/tap here to download</span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% if publication.get_bibtex_resource %}
                                <li class="noback with-image">
                                    <a target="_blank" href="{% url 'dmax_org_uk:publications-bibtex' publication.slug %}" class="whole">
                                        <span class="image sprite-icon-cite"></span>
                                        <span class="text-multi">
                                            <span><strong>Get BibTeX</strong></span>
                                            <span>Click/tap here to cite</span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% if publication.get_slides_resource %}
                                <li class="noback with-image">
                                    <a target="_blank" href="{{ publication.get_slides_resource.slides.url }}" class="whole">
                                        <span class="image sprite-icon-slides"></span>
                                        <span class="text-multi">
                                            <span><strong>Slides/Poster</strong></span>
                                            <span>Click/tap here to download</span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% for resource in publication.get_url_resources %}
                                <li class="noback with-image">
                                    <a href="{{ resource.external_url }}" target="_blank" class="whole">
                                        <span class="image sprite-icon-link"></span>
                                        <span class="text-multi"><span>
                                            <strong>External Resource</strong></span>
                                            <span>{% if resource.url_text %}{{ resource.url_text }}{% else %}<code>{{ resource.external_url }}</code>{% endif %}</span>
                                        </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="attribution">
                        Illustrations above from <a href="https://fontawesome.com/" target="_blank">Font Awesome</a> under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC 4.0 Attribution</a>
                    </div>
                    
                </div>

            </div>
{% endblock %}

<!-- Sample HTML for rights-side component with multiline blocks (including lists) -->
<!-- <ul>
    <li><strong>Element One</strong></li>
    <li class="with-image"><span class="image"></span><span class="text">Single line of text</span></li>
    <li class="with-image"><span class="image"></span><span class="text-multi"><span><strong>Single line of text</strong></span><span><strong>Single line of text</strong></span></span></li>
    <li>Element Four</li>
    <li class="with-image"><span class="image"></span><span class="text-multi"><span><strong>Single line of text</strong></span><span>

        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>

    </span></li>
    <li>Element Six</li>
</ul> -->