<!-- Sample HTML for rights-side component with multiline blocks (including lists) -->
<ul>
    <li><strong>Element One</strong></li>
    <li class="with-image"><span class="image"></span><span class="text">Single line of text</span></li>
    <li class="with-image"><span class="image"></span><span class="text-multi"><span><strong>Single line of text</strong></span><span><strong>Single line of text</strong></span></span></li>
    <li>Element Four</li>
    <li class="with-image"><span class="image"></span><span class="text-multi"><span><strong>Single line of text</strong></span><span>
        
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>
        
    </span></li>
    <li>Element Six</li>
</ul>