{% extends 'dmax_org_uk/base.html' %}

{% load static %}
{% load compress %}

{% block includetags %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/publications.less' %}">
        {% endcompress %}
{% endblock %}

{% block main %}
            <div class="flex-container variable-height">
                
                <div class="flex-item whole">
                    <div class="headertag-container">
                        <h1>Publications</h1>
                        <div id="subtitle">Have a look at the papers and other publications I've worked on.</div>
                    </div>
                    
                    <ul id="publications-grid-container" class="grid-container">
                        <li>Publication 1</li>
                        <li>Publication 2</li>
                        <li>Publication 3</li>
                        <li>Publication 4</li>
                        <li>Publication 5</li>
                        <li>Publication 6</li>
                        <li>Publication 7</li>
                        <li>Publication 8</li>
                    </ul>
                    
                </div>
            </div>
{% endblock %}