{% extends 'dmax_org_uk/base.html' %}

{% load static %}
{% load compress %}

{% block includetags %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/publications.less' %}">
        {% endcompress %}
{% endblock %}

{% block main %}
            <div class="flex-container variable-height">
                
                <div class="flex-item whole">
                    <div class="headertag-container">
                        <h1>Publications</h1>
                        <div id="subtitle">Click/tap a publication for more information.</div>
                    </div>
                    
                    <ul id="publications-grid-container" class="grid-container">
                        <li class="publication-year-2019">
                            <a class="whole" href="{% url 'dmax_org_uk:publications-entry' 'some_entry' %}">
                                <span class="year">2019</span>
                                <span class="publication-type">PhD Thesis</span>
                                <h2>Modelling Search and Stopping in Interactive Information Retrieval</h2>
                                <span class="authors">David Maxwell, Leif Azzopardi, Yashar Moshfeghi</span>
                                <span class="attribution">Appeared at <strong>ECIR 2018</strong></span>
                            </a>
                        </li>
                        <li>
                            <a class="whole" href="{% url 'dmax_org_uk:publications-entry' 'some_entry' %}">
                                <span class="year">2018</span>
                                <span class="publication-type">Journal Article</span>
                                <h2>Modelling Search and Stopping in Interactive Information Retrieval</h2>
                                <span class="authors">David Maxwell, Leif Azzopardi, Yashar Moshfeghi</span>
                                <span class="attribution">Appeared at <strong>ECIR 2018</strong></span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
{% endblock %}