{% extends 'dmax_org_uk/base.html' %}

{% load static %}
{% load compress %}

{% block includetags %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/things.less' %}">
        {% endcompress %}
        
        <style type="text/css">
            .project-twd {
                background: url('/uploads/projects/twd.svg');
                background-size: cover;
                background-position: center center;
            }
            
            .project-old-computer {
                background: url('/uploads/projects/old-computer.jpg');
                background-size: cover;
                background-position: center center;
            }
        </style>
        
{% endblock %}

{% block main %}
            <div class="flex-container variable-height">
                
                <div class="flex-item whole">
                    <div class="headertag-container">
                        <h1>Things</h1>
                        <div id="subtitle">What have I been working on?</div>
                        <div id="main-image-background-identifier" class="left">{{ background_identifier }}</div>
                    </div>
                    
                    <ul id="projects-grid-container" class="grid-container">
                        <li class="project-twd">
                            <a class="whole" href="#">
                                <h2>Tango with Django</h2>
                                <span class="teaser">This is a teaser. It's designed to be two or three lines long. I hope that the box will fit these three lines. Well, anyway, if it doesn't, I can always make the box taller, right?</span>
                                <span class="status green">Active</span>
                            </a>
                        </li>
                        <li>
                            <a class="whole" href="#">
                                <h2>SimIIR</h2>
                                
                            </a>
                        </li>
                        <li>
                            <a class="whole" href="#">
                                <h2>box</h2>
                            </a>
                        </li>
                        <li class="project-old-computer">
                            <a class="whole" href="#">
                                <h2>The 486</h2>
                            </a>
                        </li>
                        <li>
                            <a class="whole" href="#">
                                <h2>dmax.org.uk</h2>
                            </a>
                        </li>
                        <li>
                            <a class="whole" href="#">
                                <h2>Drawing</h2>
                            </a>
                        </li>
                        <li>
                            <a class="whole" href="#">
                                <h2>Crisees</h2>
                            </a>
                        </li>
                        <li>
                            <a class="whole" href="#">
                                <h2>Mearns Castle</h2>
                            </a>
                        </li>
                    </ul>
                    
                </div>

            </div>
{% endblock %}